.git
.github
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/firebase/*.json
.phpunit.result.cache
tests
docs
*.md
.DS_Store
